HAMH_HOME_ASSISTANT_URL="http://192.168.178.111:8123/"
HAMH_HOME_ASSISTANT_ACCESS_TOKEN=""
HAMH_STORAGE_LOCATION=~/.hamh-development
HAMH_LOG_LEVEL=debug
# Rotate matter sessions older than N hours so iPhone clients re-subscribe
# and Apple Home unsticks "Updating" tiles. Range 1..168, 0 disables. (#287)
HAMH_MATTER_SESSION_MAX_AGE_HOURS=4
